<!--
#############################################
#         Pushup Logger Flask-App           #
#-------------------------------------------#
#  Author   : Yogesh Nile                   #
#  Email    : yogeshnile.work4u@gmail.com   #
#  Twitter  : twitter.com/YogeshNile        #
#  GitHub   : github.com/yogeshnile         #
#############################################
-->

<!DOCTYPE html>
<html lang="en">
<!--====================================================================================-->
{% block head %}
  <head>
    <title>Push-Ups Logger</title>
    <!--====================================================================================-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--====================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/muscle.ico') }}"/>
    <!--====================================================================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--====================================================================================-->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!--====================================================================================-->
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet"/>
    <!--====================================================================================-->
    <link rel="stylesheet" href="{{ url_for('static', filename='beauty.css') }}"/>
    <!--====================================================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <!--====================================================================================-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--====================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!--====================================================================================-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--====================================================================================-->
    {% endblock %}
  </head>
<!--====================================================================================-->
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Push-Ups Logger</a>
<!--====================================================================================-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<!--====================================================================================-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="{{ url_for('main.user_workouts') }}" class="btn btn-outline-secondary" role="button">All Workouts</a>
          </li>
<!--====================================================================================-->
          <li class="nav-item">
            <a href="{{ url_for('main.profile') }}" class="btn btn-outline-secondary" role="button" style="margin-left: 4px;">Account</a>
          </li>
        </ul>
<!--====================================================================================-->
        <form class="form-inline my-2 my-lg-0">
<!--====================================================================================-->          
          {% if current_user.is_authenticated %}
          <h3 style="color: #4156bc; margin-right: 15px; margin-top: 3px;">Hello {{ current_user.name }}!</h3>
          {% endif %}
<!--====================================================================================-->
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('main.new_workout') }}" class="btn btn-outline-primary" role="button">Add New Workout</a>
          {% endif %} 
<!--====================================================================================-->
          {% if not current_user.is_authenticated %}
          <a href="{{ url_for('auth.singup') }}" class="btn btn-outline-primary" role="button">Signup</a>
          <a href="{{ url_for('auth.login') }}" class="btn btn-outline-primary" role="button" style="margin-left: 4px;">Login</a>
          {% endif %} 
<!--====================================================================================-->
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger" role="button" style="margin-left: 4px;">Log Out</a>
          {% endif %}
<!--====================================================================================-->
        </form>
      </div>
    </nav>
    {% block content %} 
    {% endblock %}
<!--====================================================================================-->
     <footer class="text-gray-700 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">Made with ❤️ by
     <a href="https://twitter.com/yogeshnile" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@YogeshNile</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
<!--=============================================================================================================================-->
      <a class="ml-3 text-gray-500" href="https://bit.ly/3dbLJLC">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
<!--=============================================================================================================================-->
      <a class="ml-3 text-gray-500" href="https://bit.ly/32SXHV0">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
<!--=============================================================================================================================-->
      <a class="ml-3 text-gray-500" href="https://bit.ly/2Ky3ho6">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
<!--=============================================================================================================================-->
    </span>
  </div>
</footer>
<!--=============================================================================================================================-->
  </body>
</html>