<!--
#############################################
#         Pushup Logger Flask-App           #
#-------------------------------------------#
#  Author   : Yogesh Nile                   #
#  Email    : yogeshnile.work4u@gmail.com   #
#  Twitter  : twitter.com/YogeshNile        #
#  GitHub   : github.com/yogeshnile         #
#############################################
-->
{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='extended_beauty.css') }}"
/>
{% endblock %}
{% block content %}
<h1>Welcome, {{ name }}!</h1>
{% endblock %}